{% extends "misrubros/index.html" %}


{% block titulo %}
<h1 class="mb-5">Acerca de</h1>                                
{% endblock titulo %}


{% block contenido %}
<h2>Este Sitio lo ayuda a programar su Viaje a gusto y piacere !</h2>
<br>
<h3>Me llamo Toni Stampone, soy Analista de Sistemas y me encanta encarar nuevos desafíos</h3>
<h3>Este proyecto lo ayuda a concretar su viaje soñado, incluye la compra de pasajes en avión,</h3>
<h3> la confirmación de reserva en hoteles, traslados y alquiler de vehículos </h3>
{% endblock contenido %}
